
.mini--gallery__container{
		display: none;
		// position: fixed;

	&.freeze{
		display: inline;
		position: default;
	}
}

.mini--gallery__single{
	display: flex;
}

.gallery-container{
	position: absolute;
	overflow: auto;
	right: 0;

}
