
.mini--gallery__container{
		position: fixed;

	&.freeze{
		position: initial;
	}
}

.mini--gallery__single{
	display: flex;
}

.gallery-container{
	position: absolute;
	overflow: auto;
	right: 0;

}
